.vscode/
PPT/
/Project
/grading.txt
/a.exe
Assignments/Day-3_PES2UG21CS090.pdf
Assignments/Day-4_PES2UG21CS090.pdf
Assignments/Day-5_PES2UG21CS090.pdf
Assignments/a.exe
Day-1_Programs/a.exe
Day-2_Programs/a.exe
Day-3_Programs/a.exe
Day-4_Programs/a.exe
Day-5_Programs/a.exe
Project/Team19_HotelManagementSystem.pdf